.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
      
.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --White: hsl(0, 0%, 100%);

    --Stone_100: hsl(30, 54%, 90%);
    --Stone_150: hsl(30, 18%, 87%);
    --Stone_600: hsl(30, 10%, 34%);
    --Stone_900: hsl(24, 5%, 18%);

    --Brown_800: hsl(14, 45%, 36%);

    --Rose_800: hsl(332, 51%, 32%);
    --Rose_50: hsl(330, 100%, 98%);
}

@font-face {
  font-family: "Outfit";
  src:
    local("Outfit"),
    url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("trueType");
    
    font-display: swap;
}

@font-face {
  font-family: "Young-Serif";
  src:
    local("Young-Serif"),
    url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("trueType");

    font-display: swap;
}

html {
    background-color: var(--Stone_100);
}

main {
    font-family: 'Outfit';
    font-weight: 300;

    background-color: var(--White);  
    width: min(calc(100% - 2em), 46em);
    height: auto;
    padding: clamp(1em, 1.5em, 2em);
    
    border-radius: 1em;
}

img {
    height: auto;
    width: 100%;

    border-radius:1em;
}

h1 {
    font-family: 'Young-Serif';
}

h2 {
    color: var(--Rose_800);
    padding-left: .8em;
    margin: 0;
}

.preparation-segment {
    background-color: var(--Rose_50);
    border-radius: 1em;
    padding-top: clamp(.5em, .75em, 1em);
    padding-bottom: .1em;

    width: 95%;
}

h3 {
    color: var(--Brown_800);
    font-size: 1.5rem;
}

ul li::marker {
    color: var(--Brown_800);
}

ol li::marker {
    color: var(--Brown_800);
    font-weight: 600;
}

li {
    padding-left: 1em;
}

strong {
    font-weight: 600;
}

hr {
    width: 97%;
    margin-left: 0;
}
 table {
    border-collapse: collapse;
    width: 97%;
 }

.table-border {
    border-bottom: .01em solid var(--Brown_800);
}

th {
    text-align: left;
    font-weight: 300;
}

.nutritional-values {
    color: var(--Brown_800);
    font-weight: 700;
}